<%- include("template/cabecera", {titulo: 'Detalle'}) %> 

<div class="container">

    <h1>Detalle</h1>

    <% if (error) { %>
        <p>
            <%= mensaje %> 
        </p>
        <a class="btn btn-outline-primary" href="/mascotas">Volver a mascotas</a>
    <% } %>
    
    <% if (!error) { %>
        <p>
            <form id="formularioEditar" data-id="<%= mascota.id %>">
                    <input type="text" name="nombre" id="nombreInput" class="form-control my-2" value="<%= mascota.nombre %>">
                    <input type="text" name="descripcion" id="descripcionInput" class="form-control my-2" value="<%= mascota.descripcion %>">
                    <button type="submit" href="/mascotas/<%= mascota.id %>" class="btn btn-outline-info">Editar</button>
            </form>

            <div>
                <button id="btnEliminar" data-id="<%= mascota.id %>" class="btn btn-outline-danger my-2">Eliminar</button>
            </div>
        </p>
        <a class="btn btn-outline-primary my-2" href="/mascotas">Cancel</a>
    <% } %>

</div>
    

<%- include("template/footer") %> 

<script>

    const btnEliminar = document.querySelector('#btnEliminar')
    btnEliminar.addEventListener('click', async() => {
        try {          
            // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
            const data = await fetch(`/mascotas/${btnEliminar.dataset.id}`, {method: 'delete'})
            const res = await data.json()
            //console.log(res)
            if (res.estado) {
                window.location.href = '/mascotas'
            } else {
                console.log(res)
            }
        } catch (error) {
            console.log(error) 
        }
    })

const formularioEditar = document.querySelector('#formularioEditar')

formularioEditar.addEventListener('submit', async(e) => {
    e.preventDefault

    const nombre = formularioEditar.elements['nombre'].value
    const descripcion = document.querySelector('#descripcionInput').value
    const id = formularioEditar.dataset.id 

    try {
        const data = await fetch(`/mascotas/${id}`, {
        method: 'PUT',
        headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: JSON.stringify({nombre, descripcion})
    })
        const res = await data.json()
            console.log(res)
            if (res.estado) {
                window.location.href = '/mascotas'
            } else {
                console.log(res)
            }
    } catch (error) {
        console.log(error)
    }
})

</script>