<%- include("template/cabecera") %> 

<h1>Mascotas</h1>

<div class="container">
  <a type="submit" class="btn btn-outline-primary" href="/mascotas/nuevo">Crear Nuevo</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
            <% if (arrayMascotas.length > 0) { %>
                <% arrayMascotas.forEach(mascota => { %>
                    <tr>
                        <td><%= mascota.nombre %></td>
                        <td><%= mascota.descripcion %></td>
                        <td><a href="/mascotas/<%= mascota.id %>" class="btn btn-outline-info">Editar</a></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
      </table>
</div>

<%- include("template/footer") %> 