<%- include("template/cabecera") %> 


<div class="container-fluid">
    <h1 class="text-primary">IR Readings</h1>
    <h5 id="motorTitle"><%= MTR %> </h5>
    <h5 id="laneTitle"><%= LANE %> </h5>
    <h5 id="techTitle"><%= TECH %> </h5>
    <h5 id="woTitle"><%= WO %> </h5>
    <!-- <h5><%= arrayMascotas  %> </h5> -->
    <!-- <a type="submit" class="btn btn-outline-primary" href="/mascotas/nuevo">New Reading</a> -->
    <a class="btn btn-outline-primary" id="btnNEW">New Reading</a>
</div>
 
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- 1 of 2 -->
                <table class="table" style="color: white;">
                    <thead>
                      <tr>
                        <th scope="col">MTR</th>
                        <th scope="col">Tech</th>
                        <th scope="col">Date</th>
                        <!-- <th scope="col">Work Order</th>
                        <th scope="col">Lane</th> -->
                        <th scope="col">NDE</th>
                        <th scope="col">DE</th>
                        <th scope="col">GOB</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            <% if (arrayMascotas.length > 0) { %>
                                <% arrayMascotas.forEach(mascota => { %>
                                    <% if (mascota.MTR === MTR) { %>
                                    
                                        <tr>
                                            <td><%= mascota.MTR %></td>
                                            <td><%= mascota.TECH %></td>
                                            <td><%= mascota.DATE %></td>
                                            <!-- <td><%= mascota.WO %></td>
                                            <td><%= mascota.LANE %></td> -->
                                            <td><%= mascota.NDE %></td>
                                            <td><%= mascota.DE %></td>
                                            <td><%= mascota.GOB %></td>
                                        </tr>
                                    
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <!-- 2 of 2 -->
                <canvas id="miGrafica" width="300" height="200"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- 1 of 3 -->
            </div>
            <div class="col">
                <!-- 2 of 3 -->
            </div>
            <div class="col">
                <!-- 3 of 3 -->
            </div>
        </div>
    </div>
 


    <script>
            let datosX = [];
            let datosNDE = [];
            let datosDE = [];
            let datosGOB = [];

            var col = document.getElementsByTagName("th").length
            var v = document.getElementsByTagName("td");
            var celdas = v.length
            var fil = celdas/col

            console.log("Columnas: " + col);
            console.log("celdas: " + celdas);
            console.log("filas: " + fil);
            
            for (i=2; i<celdas; i=i+col){ 
                datosX.push(v[i].innerHTML);
            }
            console.log("datosX: " + datosX);
           
            for (i=3; i<celdas; i=i+col){ 
                datosNDE.push(v[i].innerHTML);
            }
            console.log("datosNDE: " + datosNDE);

            for (i=4; i<celdas; i=i+col){ 
                datosDE.push(v[i].innerHTML);
            }
            console.log("datosDE: " + datosDE);

            for (i=5; i<celdas; i=i+col){ 
                datosGOB.push(v[i].innerHTML);
            }
            console.log("datosGOB: " + datosGOB);
         
            let miCanvas = document.getElementById("miGrafica").getContext('2d');
            var chart = new Chart(miCanvas, {
            type: 'line',
            data: {
                labels: datosX,
                datasets: [
                    {
                    label: "NDE",
                    backgroundColor: "rgb(0,128,255)",
                    borderColor: "rgb(0,0,255)",
                    data: datosNDE,
                    fill: "origin",
                    tension: 0.3
                    },
                    {
                    label: "DE",
                    backgroundColor: "rgba(0,70,70,1)",
                    borderColor: "rgb(28,28,28)",
                    data: datosDE,
                    fill: 'origin',
                    tension: 0.3
                    },
                    {
                    label: "GOB",
                    backgroundColor: "rgba(60,60,60,0.5)",
                    borderColor: "rgba(255,0,0,1)",
                    data: datosGOB,
                    fill: 'origin',
                    tension: 0.3
                    }]   
                },
                options: {
                    Plugins:{
                        tooltip:{
                            callbacks:{
                                label: function(context) {
                                    var label = context.dataset.label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    if (context.parsed.y !== null) {
                                        label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
                                    }
                                    return label;
                                }
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: "Celsius Deg"
                            }
                            }
                        },
                        x:{
                            ticks: true,
                            title: {
                                display: true,
                                text: "time"
                            }
                        }
                    }
                } 
            )

            const TECH = document.getElementById('techTitle').innerHTML;
            const WO = document.getElementById('woTitle').innerHTML;
            const btnNEW = document.getElementById("btnNEW");
            if (TECH === "TestTECH " || WO === "TestWO ") {
                document.getElementById('btnNEW').remove();
                document.getElementById('techTitle').remove();
                document.getElementById('woTitle').remove();
            }
            
            
            btnNEW.addEventListener('click', async() => {
                const MTR = document.getElementById('motorTitle').innerHTML;
                const LANE = document.getElementById('laneTitle').innerHTML;
                const TECH = document.getElementById('techTitle').innerHTML;
                const WO = document.getElementById('woTitle').innerHTML;
                window.location.href = `/servicios/${MTR}/${LANE}/${TECH}/${WO}/nuevo`          
        })


    </script>


<%- include("template/footer") %> 